.mds1 {
    position: relative;
    padding: 45px 1rem;
    text-align: center;
}

.mds1:before {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 75px);
    width: 150px;
    height: 6px;
    content: '';
    border-radius: 3px;
    background: -webkit-linear-gradient(0deg, #f51651, #f5b82a);
}