h1,h2,h3,h4,h5,h6,p,a {
  font-family: 'Roboto', sans-serif;
}

.mds1 {
    position: relative;
    padding: 45px 1rem;
    text-align: center;
}

.mds1:before {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 75px);
    width: 150px;
    height: 6px;
    content: '';
    border-radius: 3px;
    background: #198754;
}

.mds2 {
    position: relative;
    padding: 45px 1rem;
    text-align: center;
}

.mds2:before {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 75px);
    width: 150px;
    height: 6px;
    content: '';
    border-radius: 3px;
    background: #0d6efd;
}

.mds3 {
    position: relative;
    padding: 45px 1rem;
    text-align: center;
}

.mds3:before {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 75px);
    width: 150px;
    height: 6px;
    content: '';
    border-radius: 3px;
    background: -webkit-linear-gradient(0deg, #198754, #0d6efd);
}